# Environment
API_ADRESS=http://localhost:3002
NEXTCLOUD_DOWNLOAD_ADRESS=http://localhost:8080/apps/files/?dir=/assemblies
JBROWSE_ADRESS=http://localhost:8082

# STORAGE
DATA_DIR=/path/to/_gnom/data
JBROWSE_DIR=/path/to/_gnom/jbrowse_data
IMPORT_DIR=/path/to/_gnom/import

# Docker
## MYSQL
MYSQL_HOST_ADRESS=172.18.0.1
MYSQL_ROOT_PASSWORD=JaghRMI104
MYSQL_CONTAINER_NAME=gnom_mysql

## REACTAPP
REACTAPP_CONTAINER_NAME=gnom_react

## FLASK SERVER
FLASK_CONTAINER_NAME=gnom_flask

## NEXTCLOUD SERVER
NEXTCLOUD_CONTAINER_NAME=gnom_nextcloud
