# STORAGE
DATA_DIR=/path/to/_gnom/data
IMPORT_DIR=/path/to/_gnom/import

# INITIAL USER
INITIAL_USER_USERNAME=admin
INITIAL_USER_PASSWORD=admin

# Docker
## Docker network
DOCKER_NETWORK_NAME=gnom_app

## MYSQL
MYSQL_PORT=3000
MYSQL_ADRESS=127.0.0.1
MYSQL_ROOT_PASSWORD=JaghRMI104
MYSQL_CONTAINER_NAME=gnom_mysql
MYSQL_VOLUME=gnom-mysql-vol

## REACTAPP
FRONTEND_PORT=3000
FRONTEND_ADRESS=127.0.0.1
FRONTEND_CONTAINER_NAME=gnom_react
FRONTEND_VOLUME=gnom-frontend-vol

## FLASK SERVER
API_PORT=3002
API_ADRESS=127.0.0.1
API_CONTAINER_NAME=gnom_flask
API_VOLUME=gnom-api-vol

## FILE SERVER
FILE_SERVER_PORT=8080
FILE_SERVER_ADRESS=127.0.0.1
FILE_SERVER_CONTAINER_NAME=gnom_nextcloud
FILE_SERVER_VOLUME=gnom-file-server-vol

## JBROWSE
JBROWSE_PORT=8082
JBROWSE_ADRESS=127.0.0.1
JBROWSE_CONTAINER_NAME=gnom_jbrowse
JBROWSE_VOLUME=gnom-jbrowse-vol

## RABBIT MQ
RABBIT_ADRESS=127.0.0.1
RABBIT_CONTAINER_NAME=gnom_rabbit
RABBIT_VOLUME=gnom-rabbit-vol
RABBIT_WORKER_COUNT=2