@tailwind base;
@tailwind components;
@tailwind utilities;

html,
div {
  scroll-behavior: smooth;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.line {
  height: 4px;
  transform: translateX(-50%);
  animation: accordion 1s ease infinite;
  width: 80px;
  background-color: gray;
}
.line::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  margin-top: -4px;
}
.line:nth-child(1n)::before {
  background-color: rgb(53, 102, 86);
}
.line:nth-child(2n)::before {
  background-color: rgb(134, 46, 46);
}

.line::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  margin-top: -4px;
  background-color: black;
}
.line:nth-child(1n)::after {
  background-color: rgb(53, 102, 86);
}
.line:nth-child(2n)::after {
  background-color: rgb(134, 46, 46);
}

@keyframes accordion {
  100% {
    width: 80px;
    background-color: rgb(180, 180, 180);
  }
  90% {
    width: 75px;
    background-color: rgb(170, 170, 170);
  }
  80% {
    width: 65px;
    background-color: rgb(143, 143, 143);
  }
  70% {
    width: 50px;
    background-color: rgb(121, 120, 120);
  }
  60% {
    width: 30px;
    background-color: rgb(90, 89, 89);
  }
  50% {
    width: 0px;
    background-color: rgb(51, 51, 51);
  }
  40% {
    width: 30px;
    background-color: rgb(90, 89, 89);
  }
  30% {
    width: 50px;
    background-color: rgb(121, 120, 120);
  }
  20% {
    width: 65px;
    background-color: rgb(143, 143, 143);
  }
  10% {
    width: 75px;
    background-color: rgb(170, 170, 170);
  }
  0% {
    width: 80px;
    background-color: rgb(180, 180, 180);
  }
}
